@using Microsoft.AspNet.Identity
@model FilipBlog.Models.RawPost

@{
	ViewBag.Title = "Create";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create a new Post</h2>
@*<h4>Msg: @ViewBag.Message</h4>
	<h4>User.id: @User.Identity.GetUserId()</h4>*@

@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()

	<hr />
	<br />
	<div class="form-horizontal">

		@Html.ValidationSummary(true, "", new { @class = "text-danger" })
		<div class="form-group">
			@Html.LabelFor(model => model.Post.Title, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.EditorFor(model => model.Post.Title, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.Post.Title, "", new { @class = "text-danger" })
			</div>
		</div>
		<div class="form-group">
			@Html.LabelFor(model => model.Post.Subtitle, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.EditorFor(model => model.Post.Subtitle, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.Post.Subtitle, "", new { @class = "text-danger" })
			</div>
		</div>
		<div class="form-group">
			@Html.LabelFor(model => model.Post.Content, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Post.Content, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Post.Content, "", new { @class = "text-danger" })
                <span class="tiny-note">Html tags are also supported</span>
            </div>
		</div>
		<div class="form-group">
			@Html.LabelFor(model => model.RawImageURLs, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RawImageURLs, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.RawImageURLs, "", new { @class = "text-danger" })
                <span class="tiny-note">Enter image urls separated by new lines</span>
            </div>
		</div>
		<div class="form-group">
			@Html.LabelFor(model => model.RawVideoURLs, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.EditorFor(model => model.RawVideoURLs, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.RawVideoURLs, "", new { @class = "text-danger" })
                <span class="tiny-note">Enter video urls separated by new lines</span>
			</div>
		</div>
		<hr />

			<div class="form-group">
				<h4 style="font-weight:700; margin-left: 40px">Select a Category:</h4>
				@for (int i = 0; i < Model.RawCategories.Length; i++)
				{
					<label class="control-label col-md-2">@Html.DisplayFor(model => Model.RawCategories[i].CategoryName)</label>
					<div class="col-md-10 ">
						<div class="checkbox" style="margin-left: 30px">
							@Html.EditorFor(model => Model.RawCategories[i].IsSelected, new { @class = "form-control" })
						</div>

						@Html.HiddenFor(model => Model.RawCategories[i].CategoryName)
						@Html.ValidationMessageFor(model => Model.RawCategories[i].IsSelected, "", new { @class = "text-danger" })
					</div>
				}
			</div>

			@Html.HiddenFor(model => model.Post.AuthorRefId, new { Value = User.Identity.GetUserId() })
			@Html.HiddenFor(model => model.Post.DateOfCreation)
			@Html.HiddenFor(model => model.Post.DateOfModification)
			@Html.HiddenFor(model => model.Post.IsFlagged, new { Value = false })
			@*<div class="form-group">
			@Html.LabelFor(model => model.IsFlagged, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				<div class="checkbox">
					@Html.EditorFor(model => model.IsFlagged)
					@Html.ValidationMessageFor(model => model.IsFlagged, "", new { @class = "text-danger" })
				</div>
			</div>
		</div>*@


			<div class="form-group">
				<div class="col-md-offset-2 col-md-10">
					<input type="submit" value="Create" class="btn btn-default" />
				</div>
			</div>
</div>
}

<div>
	@Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
}
