@model IEnumerable<FilipBlog.Models.Report>


<table class="table">
	<tr>
		@*<th>
			@Html.DisplayNameFor(model => model.Post.Title)
		</th>*@
		<th>
			Authored By
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Content)
		</th>
		
	</tr>

	@foreach (var item in Model)
	{
		<tr>
			@*<td>
				@Html.DisplayFor(modelItem => item.Post.Title)
			</td>*@
			<td>
				@Html.ActionLink(item.Reporter.FullName(), "Details", "ApplicationUsers", new { id = item.ReporterRefId }, null)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Content)
			</td>
		
		</tr>
	}

</table>
