@model IEnumerable<FilipBlog.Models.Report>

@{
	ViewBag.Title = "Index";
}

<h2>Reports</h2>


<table id="my-table" class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Post.Title)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Reporter.FirstName)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Content)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.DateOfCreation)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.DateOfModification)
			</th>
			<th></th>
		</tr>
	</thead>

	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.ActionLink(item.Post.Title, "Details", "Posts", new { id = item.Post.PostId }, null)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Reporter.FirstName)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Content)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.DateOfCreation)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.DateOfModification)
				</td>
				<td>
					@Html.ActionLink("Details", "Details", new { id = item.ReportId }, new { @class = "btn btn-xs btn-primary" }) |
					@*@Html.ActionLink("Edit", "Edit", new { id = item.ReportId }, new { @class = "btn btn-xs btn-default" }) | *@

					@Html.ActionLink("Delete", "Delete", new { id = item.ReportId }, new { @class = "btn btn-xs btn-danger" }) |
					@Html.ActionLink("Delete post", "Delete", "Posts", new { id = item.Post_PostId }, new { @class = "btn btn-xs btn-danger" })

				</td>
			</tr>
		}
	</tbody>

</table>

@section scripts{
	<script>
		$(document).ready(function () {
			var table = $("#my-table").DataTable();
		});
	</script>
}