@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
	using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
	{
		@Html.AntiForgeryToken()

<ul class="nav navbar-nav navbar-right">

	@{
		string role = "";
		if (User.IsInRole("Admin"))
		{
			role = "Admin";
		}
		if (User.IsInRole("Editor"))
		{
			role = "Editor";
		}
		if (User.IsInRole("Moderator"))
		{
			role = "Moderator";
		}
		if (User.IsInRole("User"))
		{
			role = "User";
		}
		if (User.IsInRole("Banned"))
		{
			role = "Banned";
		}
		ViewBag.Role = role;
	}

	<li>
		@Html.Action("DisplayPhoto", "ApplicationUsers", new { userId = User.Identity.GetUserId() })
	</li>
	<li>

		@*@Html.Action("DisplayPhoto", "ApplicationUsers", new { userId = User.Identity.GetUserId() })*@
		@Html.ActionLink(role + ": " + User.Identity.GetUserName(), "Details", "ApplicationUsers", new { id = User.Identity.GetUserId() }, htmlAttributes: new { title = "Manage" })
	</li>
	<li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>


</ul>
	}
}
else
{
	<ul class="nav navbar-nav navbar-right">
		<li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
		<li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
	</ul>
}
